* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serf;
    font-weight: 400;

}

header{
background-color: olivedrab;
}

h1 {
    font-weight: 100;
    display: block;
    text-align: center;
}